/*DEFAULT VALUES*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {

  background-color: #ccffcc;
}
header{
  padding: 2em;

  background-color: #66ff66;
}

.main_page_title {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 4em;
}
#last_name {
  margin-top: 20px;
  display: block;
}
.button {
  padding: 5px;
  text-decoration: none;
  margin-left: 30px;
  background-color: green;
  color: white;
  font-family: Arial;
  font-size: 20px;
  width: 40px;
  }
#main_display_1{
  float: left;
  width: 50%;
  margin-left: 300px;
  margin-bottom: 10em;
}
.name_search{
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 1.5em;
  width:50%;
}
.location_search{
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
  width: 50%;
}

.top_stories {
    font-family: 'Oswald', sans-serif;

  font-style: bold;
  font-size: 20px;
}
#main_display_2 {
    font-family: 'Oswald', sans-serif;
  margin-left: 600px;
  width: 40%
}
#main_display_2 h2{
  padding-bottom: 1em;
  font-size: 2em;
}
.whole_page {
  display: inline-block;
}
.google_translate_element{
  margin-left: 100px;
}
/*PROFILE HTML*/
#profile_display{
  margin-left: 2em;
  font-size: 1.9em;
    font-family: 'Oswald', sans-serif;
}
#comments_display {
  margin-left: 3em;
  width: 80%;

}
#comments_display h2{
  margin-top: 1em;
  
margin-left: 2.1em;
  font-size: 1.8em;
    font-family: 'Oswald', sans-serif;

}
#comments_display h3{
  margin-top: 1em;
 
margin-left: 3.8em;
  font-size: 1.2em;
    font-family: 'Oswald', sans-serif;

}
#comments_display h4{
  font-size: 1.2em;
      font-family: 'Oswald', sans-serif;

}
/*REVIEW COMMENTS*/
#input{
  margin-left: 2em;
}
#input h1{
  margin-top: 1em;
  font-size: 1.8em;
    font-family: 'Oswald', sans-serif;
}
#input h3{
  margin-top: 1em;
  

  font-size: 1.1em;
    font-family: 'Oswald', sans-serif;
}
#input_review{
  height: 6em;
  width: 20em;
}

/*LOCATION*/
#location_info h1{
  margin-top: 1em;
  font-size: 2em;
    font-family: 'Oswald', sans-serif;
}
#location_info h2{
   font-size: 1.2em;
}
.profile_display2 a{
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}
.profile_display2 h2{
  font-size: 1.3em;
  text-decoration: none;
  color: black;
}
.profile_display2 h3{
  font-size: 1.1em;
  text-decoration: none;
  color: black;
}
